.root {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 19px;
  max-width: 1300px;
  transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
  width 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  h1 {
    font-size: 30px;
    font-weight: 30;
  }
  .buttn {
    display: flex;
    margin: 20px 0 10px 0;
    align-items: center;
    justify-content: center;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
    width 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    > div:hover {
      z-index: 5;
      transform: scale(1.05);
    }
    .height {
      grid-area: 1 / 1 / 3 / 2;
      aspect-ratio: 1 / 2;
      //background-image: url("/starter-background.jpg");
      //background-position: center;
      //background-size: cover;
      transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      width 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }
    .two {
      grid-area: 1 / 2 / 2 / 3;
      aspect-ratio: 1 / 1;
      //background-image: url("/1.jpg");
      //background-position: center;
      //background-size: cover;
      transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      width 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }
    .three {
      grid-area: 1 / 3 / 2 / 4;
      aspect-ratio: 1 / 1;
      //background-image: url("/2.jpg");
      //background-position: center;
      //background-size: cover;
      transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      width 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }
    .four {
      grid-area: 1 / 4 / 2 / 5;
      aspect-ratio: 1 / 1;
      //background-image: url("/3.jpg");
      //background-position: center;
      //background-size: cover;
      transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      width 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }
    .five {
      grid-area: 2 / 2 / 3 / 3;
      aspect-ratio: 1 / 1;
      //background-image: url("/4.jpg");
      //background-position: center;
      //background-size: cover;
      transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      width 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }

    .width {
      grid-area: 2 / 3 / 3 / 5;
      aspect-ratio: 2 / 1;
      //background-image: url("/call-background.jpg");
      //background-position: center;
      //background-size: cover;
      transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      width 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }
  }


  h1 {
    margin: 0 auto 0 auto;
    text-align: center;
    color: white;
    width: 100%;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);
    padding: 0 0 20px 0;
    transition: width 0.4s cubic-bezier(0.3, 1, 0.8, 1),
    font-size 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  }
  p {
    margin: 10px auto 0 auto;
    text-align: center;
    color: white;
    width: 100%;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3),
    0px -4px 10px rgba(255,255,255,0.3);
  }
}

@media only screen and (max-width: 670px) {
  .root {
    //height: 100vw;

  }
}
@media only screen and (max-width: 770px) {
  .root {
    width: 100%;
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
      grid-auto-flow: column;
      grid-auto-columns: minmax(300px,1fr);
      overflow-x: auto;
      > div:hover {
        z-index: 5;
        transform: scale(1);
      }
    }
  }
}