.root {
  text-align: center;
  width: 90vw;
  margin: 50px auto 30px auto;
  max-width: 1300px;
  display: flex;
  justify-content: center;

  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
    width 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;

    > a div {
      transform: translateY(0);
    }

    > a div:hover {
      transform: translateY(-20px);
    }
  }
}
.head {
  color: white;
  text-align: center;
  padding-bottom: 40px;
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  font-size: 30px;
  font-weight: 30;
}

@media only screen and (max-width: 670px) {
  .root {
    .head {
      padding: 0;
    }
    .content {
      margin-top: 10px;
      overflow-x: scroll;
      overflow-y: hidden;
      > a div {
        box-shadow: none;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .root {
    width: 100%;
    .content {
      padding-top: 30px;
    }
    .head {
      padding: 0;
    }
  }
}

@media only screen and (min-width: 1300px) {
  .root {
    .content {
      justify-content: space-around;
    }
  }
}
