.root {
  width: 90%;
  padding: 40px 0 0 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  color: white;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
    width 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  > div {
    width: 25%;
    height: 100%;
    padding: 10px 0 10px 0;
    transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
      width 0.4s cubic-bezier(0.3, 1, 0.8, 1);

    h1 {
      font-size: 20px;
      font-weight: 30;
      border-bottom: 2px solid white;
      width: 90%;
    }
    p {
      max-width: 90%;
      padding-top: 10px;
    }
    a {
      width: 90%;
    }
    ul {
      margin-left: 0;
      padding-left: 0;
    }
    li {
      list-style-type: none;
      padding-top: 10px;
    }
    .svgs {
      padding-top: 10px;
    }
    .phone {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      svg {
        width: 17px;
        height: 17px;
        margin-right: 7px;
        transform: translateY(5px);
      }
    }
  }

  transition: height 0.4s cubic-bezier(0.3, 1, 0.8, 1),
    width 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

@media only screen and (max-width: 770px) {
  .root {
    width: 100%;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 890px) {
  .root {
    .links {
      padding-left: 10px;
    }
    .contacts {
      padding-left: 10px;
    }
    > div {
      width: 48%;
    }
  }
}

@media only screen and (max-width: 540px) {
  .root {
    .links {
      padding: 0;
    }
    .contacts {
      padding: 0;
    }
    > div {
      width: 90%;
      padding: 10px 0 10px 0;
    }
  }
}
